<<<<<<< HEAD
/*#####################################################################################################*/

body{
  background-color: transparent;
  font-family: Calibri, Tahoma, Geneva, Verdana, sans-serif;
}

/*#####################################################################################################*/
/*----- HEADER SECTION FOR ALL PAGES-----*/
/*#####################################################################################################*/
#panel img {
	width: 100%;
}
.panel1 {
    float: left;
    width: 100%;
}
/* Clear floats after the columns */
#panel:after {
    content: "";
    display: table;
    clear: both;
}

.navbar-default {
  border-bottom: 3px solid #061147;
}

.navbar-default .navbar-nav > li > a {
	@extend.lefthead;
}


/*#####################################################################################################*/
/*----- FOOTER SECTION FOR ALL PAGES -----*/
/*#####################################################################################################*/

/* ---------- FOOTER SECTION: Footer Section with 3 panels of equal size: ---------- */


.col-sm-3 a{
color:white;
padding:30px;
height:30px;
}



/*#####################################################################################################*/
/*----- CONTENT SECTION FOR ALL PAGES -----*/
/*#####################################################################################################*/
h1.title{
  color: #061147;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
  
  }  
  .col{
 margin: auto;
 padding: 50px;
 justify-content: center;
 }
 
 .text {
  text-align: left;
  margin: 0px;
  font-size: 14pt;
 }
 
/*#####################################################################################################*/
/*----- HOME PAGE -----*/
/*#####################################################################################################*/
hr.line{
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid  #010c35;
  max-width: 40%;  
}
li.text {
  text-align: left;
  font-size: 14pt;
}
.partners {
	padding-left: 0px;
}

/*#####################################################################################################*/
/*----- SERVICES -----*/
/*#####################################################################################################*/

.clm {
  padding: 50px 2px;
  overflow:hidden;
  height: auto;
  padding: 15px;
 }

 @media screen and (min-width: 0px) and (max-width: 800px) {
  .text { font-size: 12px;} 
.d{font-size:10px;}  /* show it on small screens */
.clm h2{font-size:16px;font-weight:bold;}
.col h2{font-size:16px;font-weight:bold;}
}

.d {
  text-align: right;
  font-weight: bold;
  margin: 0px;
  padding: 10px;
}
.frow h2{
text-align: center;	
padding-top:20px;
}

.image{
  display: block;
  width: 80%;
  height: 80%;
  white-space: nowrap;
 } 

/*#####################################################################################################*/
/*----- NEWS PAGE -----*/
/*#####################################################################################################*/
table, td, th {
  border: 1px solid black;
}
tr td {
  padding: 0 10px;
}
.lefthead{
	font-weight:bold;
}
#table {
  border-collapse: collapse;
  padding:10px;
}
form .btn-primary:hover{
color: red;
}
img {
	width:300px;
	padding-bottom:18px;
	bottom:18px;
}
.Headlist{
	padding-top:18px;
}
.list{
  text-indent: 50px;
  font-size:16px;
}
form{
	max-width: 500px;
	margin: 0 10px 20px;
	border-style: none;
}
