/*-----define header and footer colors */
$footerbgcolor: #F8F8F8;
$footerh4color:#5c2506;
$footercolor:#241178;
$navbartxtcolor:#221c87;


/*#####################################################################################################*/
/*----- HEADER SECTION FOR ALL PAGES-----*/
/*#####################################################################################################*/
.navbar-default .navbar-nav > li > a:hover {
    font-weight: bold; 
	color:$navbartxtcolor;
}

.navbar-default .navbar-nav > li > a {
	@extend.lefthead;
}

/*####################################################################################################*/
/*----- Nesting FOOTER SECTION FOR ALL PAGES -----*/
/*#####################################################################################################*/
#footer {
  overflow: hidden;
  background-color: $footerbgcolor;
  border-bottom: 3px solid ;
  text-align:center;
p{color:$footercolor;}
h4{color:$footerh4color;}
}


