<<<<<<< HEAD
/*#####################################################################################################*/

body{
  background-color: blue;
  font-family: Calibri, Tahoma, Geneva, Verdana, sans-serif;
}



/*#####################################################################################################*/
/*----- CONTENT SECTION  -----*/
/*#####################################################################################################*/


.frame {
height:600px;
}

 
 .question {
  text-align: left;
  margin: 0px;
  font-size: 14pt;
 }

.sub-question {
  text-align: left;
  margin: 0px;
  font-size: 14pt;
 }
 



