<<<<<<< HEAD
/*#####################################################################################################*/

body{
  background-color: blue;
  font-family: Calibri, Tahoma, Geneva, Verdana, sans-serif;
}



/*#####################################################################################################*/
/*----- CONTENT SECTION  -----*/
/*#####################################################################################################*/


 .question {
  text-align: left;
  margin: 0px;
  font-size: 12pt;
 }

figure {
  position: relative;
  width: 90vw;
  height: 70vh;
  margin: 30px auto;
  border: 1px solid red;
  text-align: center;
}
iframe {
  position: relative;
  top: 0;
  margin: 30px auto;
  overflow: auto;
  display: block;
  height: 400px;
  width: 900px;
  text-align: center
}


 



