<<<<<<< HEAD
/*#####################################################################################################*/

body{
  background-color: blue;
  font-family: Calibri, Tahoma, Geneva, Verdana, sans-serif;
}

/*#####################################################################################################*/
/*----- Navigation Bar  -----*/
/*#####################################################################################################*/



/*#####################################################################################################*/
/*----- CONTENT SECTION  -----*/
/*#####################################################################################################*/


h2 { 
   color: #000080;
  text-align:center;
  padding-top: 10px
  
}


h4 { 
    color: #C71585;
}

h3 { text-align:left; 
  color:#1a1300;
  padding-top: 40px;
}
.question {
  text-align: left;
  margin: 0px;
  font-size: 12pt;
 }

hr.line{
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid  #010c35;
  max-width: 40%;  
}

iframeold {
  position: relative;
  top: 0;
  margin: 30px auto;
  overflow: auto;
  display: block;
  height: 400px;
  width: 900px;
  text-align: center
}

.framer {
  position: relative;
  overflow: auto;
  display: block;
  align-items: center;
      margin-left: auto;
    margin-right: auto;
  width: 80%;
  height: 30%;
  padding-top: 45%;
}


.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

 .content{
 margin: auto;
 padding: 50px;
 justify-content: center;
 }
 
 .text {
  text-align: left;
  margin: 0px;
  font-size: 14pt;
 }
